.sx-grid-view {

}

.sx-grid-view .sx-table-wrapper {
    overflow: auto;
}
.sx-grid-view .sx-before-table-left .sx-select-full-all {
    margin-right: 0.5rem;
}
.sx-grid-view .sx-before-table-left {
    display: flex;
    align-items: center;
}
.sx-grid-view .sx-before-table {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 1px 0 #fff /*, inset 0 0 2px -1px rgba(232,19,64, 1)*/;
    background: rgba(221, 229, 231, 0.47);
    border-radius: 4px 4px 0px 0px;
    border-top: 1px solid #dee2e685;
    border-right: 1px solid #dee2e685;
    border-left: 1px solid #dee2e685;
    padding: 0.75rem;
    /*border-color: #d6dfe1 #ced7d8 #969d9e #bec7c8;*/
}

.sx-table-additional {
    display: flex;
    justify-content: space-between;
}
.sx-grid-view .sx-after-table {
    display: flex;
    box-shadow: inset 0 1px 0 #fff /*, inset 0 0 2px -1px rgba(232,19,64, 1)*/;
    background: rgba(221, 229, 231, 0.47);
    border-radius: 0px 0px 4px 4px;
        border-bottom: 1px solid #dee2e685;
    border-right: 1px solid #dee2e685;
    border-left: 1px solid #dee2e685;
    padding: 0.75rem;
    justify-content: space-between;
    /*border-color: #d6dfe1 #ced7d8 #969d9e #bec7c8;*/
}

/*.sx-grid-view .pagination {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}*/

/*.sx-grid-view .summary {
    margin-top: 15px;
    margin-bottom: 15px;
}*/


.sx-table-additional {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sx-grid-view .sx-per-page {
    /*margin-top: 15px;
    margin-bottom: 15px;*/
    height: 31px;
}

.sx-grid-view .sx-per-page select {
    height: 31px;
    min-width: 44px;
}

.sx-grid-view .sx-per-page .per-page-label {
    margin-right: 5px;
}

.has-sx-grid-view-full {
    overflow: hidden;
}

.sx-grid-view-full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
}



.sx-table-wrapper table.sx-table
{
    border:none;
    border: 1px solid #dee2e685;
    border-spacing:0;
    width:100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background: white;
}

    table.sx-table>thead:first-child>tr:first-child>th
    {
        border: 1px solid #dee2e685;
        /*border-color:#d6dfe1 #ced7d8 #ced7d8 #ced7d8;*/
        padding: 10px;
        font-weight: normal;
        line-height: 14px;
    }
    table.sx-table thead tr th
    {
        background: #aebbc0;
        background-image: -webkit-linear-gradient(top, #eff3f4, #e2e2e2);
        background-image: linear-gradient(to bottom, #eff3f4, #e2e2e2);
        border:1px solid;
        border-color:#d9e0e4 #89979d #919b9d #ebeef0;
        font-weight:bold;
        /*color: #ffffff;*/
        height:21px;
        vertical-align:middle;
        /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 1)*/
        color: #0e0e0e;
        text-shadow: 0 1px rgba(255,255,255,0.7);
    }

    table.sx-table thead tr th a
    {
        color: #0e0e0e;
        text-shadow: 0 1px rgba(255,255,255,0.7);
        border-bottom: 1px solid #00000024;
        font-size: 12px;
    }
    table.sx-table thead tr th a:hover
    {
        text-decoration: none;
    }

    table.sx-table thead tr th a.asc,
    table.sx-table thead tr th a.desc {
        color: red;
    }
    table.sx-table thead tr th a.asc:after {
        content: ' ↑';
        margin-top: -1px;
        position: absolute;
        margin-left: 3px;
    }
    table.sx-table thead tr th a.desc:after {
        content: ' ↓';
        margin-top: -1px;
        position: absolute;
        margin-left: 3px;
    }

        table.sx-table a.sx-fancybox img
        {
            border: 2px solid silver;
        }

        table.sx-table a.sx-fancybox img:hover
        {
            border: 2px solid #5dc3e7;
            box-shadow: 1px 1px 14px rgba(32, 168, 216, 0.69);
        }

    table.sx-table > tbody > tr:hover > td
    {
        background-color: #f5f9f9;
    }

    .sx-table.table-bordered td, .table-bordered th {
        border: 1px solid #dee2e685;
    }

    table.sx-table > tbody > tr.sx-active td {
        background-color: #f2f8ff;
    }

    table.sx-table > tbody > tr.sx-active:hover td {
        background-color: #d8ebff;
    }

    table.sx-table td {
        border-top: 0.8px solid rgb(34 36 38 / 7%);
        vertical-align: middle;
    }

/*
table.sx-table a {
    color: black;
}*/
