.sx-tree ul li.sx-tree-node .row .sx-label-node.level-0
{
    background: url("../images/icon.domik.png") no-repeat 2px 2px !important;
}

.sx-tree ul li.sx-tree-node .row .sx-label-node
{
    background: url("../images/ico-folder-blue.png") no-repeat 2px 3px;
    padding-top: 2px;
}

.sx-tree ul li.sx-tree-node.open > .row > .sx-label-node
{
    background: url("../images/ico-folder-open-blue.png") no-repeat 2px 5px;
}

.sx-tree ul li.sx-tree-node .row
{
    height: 24px;
    cursor: move;
}

.sx-tree ul li.sx-tree-node .row:hover
{
    background: rgba(192, 192, 192, 0.17);
}

.sx-tree ul li.sx-tree-node .row .sx-controll-node
{
    display: none;
    float: right;
}

.sx-tree ul li.sx-tree-node .row:hover .sx-controll-node
{
    display: block;
}