/**
* Перекрытие некоторых стилей
*/
html
{
    min-height: 100%;
    height: 100%;
}
body
{
    background: url(../images/bg/22.png);
}


.main {
    padding: 70px 30px 40px 280px;
    background: none;
}

body.sidebar-hidden .main
{
    padding: 70px 30px 40px 30px;
}

.navbar-brand:hover i
{
    color: #a6ed18;
}
footer.sx-admin-footer
{
    width: 100%;
    background: white;
    border-top: 1px solid #d1d4d7;
    color: #d1d4d7;
    height: 40px;

    padding: 0 20px 0px 20px;
    margin: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    font-size: 10px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 0.075);
}


body.sidebar-hidden footer.sx-admin-footer
{
    padding: 0 20px 0px 20px;
}

@media (max-width: 991px)
{
    .main
    {
        z-index: 0;
    }

    .sidebar
    {
        padding-top: 50px;
    }
}



.navbar .navbar-nav li .dropdown-menu, .dropdown-menu
{
    box-shadow: 1px 7px 16px rgba(0, 0, 0, 0.42);
}

/**
* Доработка панелей
*/
.sx-panel
{
    box-shadow: 1px 7px 16px rgba(0, 0, 0, 0.42);
    display: none;
}

    .sx-panel .sx-nav
    {
        border-bottom: 1px solid rgba(32, 168, 216, 0.23);
    }


    .sx-panel.panel-default
    {
        box-shadow: 0px 0px 3px 0px rgba(32, 168, 216, 0.5);
    }

    .sx-panel.panel-default .panel-heading
    {
        background: #f8f9fa;
        border-bottom: 1px solid rgba(32, 168, 216, 0.23);
    }




    .sx-panel.panel-default > .panel-heading > h2
    {
        color: black;
    }

    .sx-panel.panel-primary > .panel-heading > h2
    {
        color: white;
    }

    .sx-panel .panel-body
    {
        padding: 0px;
    }
        .sx-panel .panel-body .panel-content
        {
            padding: 15px;
        }

    .sx-nav>li>a
    {
        border-radius: 0;
        padding: 5px 10px;
        font-size: 12px;
    }



    /**
* Доработка слайдбара
*/
.sidebar .sidebar-footer {
    height: 43px;
}

.sx-sidebar
{
    background: none;
    padding-bottom: 40px;
    z-index: 1;
    width: 270px;
}

    .sx-sidebar a
    {
        color: black;
    }

    .sx-sidebar .inner-wrapper
    {
        overflow-y: auto;
        width: 270px;
        height: 100%;
    }


    .sx-sidebar .sidebar-menu
    {
        width: 250px;
        border: 1px solid #20a8d8;
        margin-bottom: 0px;
        margin-top: 20px;
        overflow: hidden;
        background: white;
        box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.42);
    }

        .sx-sidebar .sidebar-menu .sx-head
        {
            background: #5dc3e7;
            color: white;
            //font-weight: bold;
            text-transform: uppercase;
            //text-align: center;
            padding: 5px 0px;
        }

            .sx-sidebar .sidebar-menu .sx-head .icon
            {
                float:  left;
                padding-left: 10px;
                /* font-size: 17px; */
                cursor: pointer;
                padding-top: 3px;
                padding-right: 5px;
            }

        .sidebar ul.nav.nav-sidebar li a i
        {
            color: black;
        }


        .sidebar .nav>li>a
        {
            padding: 5px 0px;
        }

        .sidebar ul.nav.nav-sidebar li a i
        {
            margin: 0px;
        }

        .sidebar ul.nav.nav-sidebar li a
        {
            text-transform: none;
        }

        .sidebar ul.nav.nav-sidebar li.active, .sidebar ul.nav.nav-sidebar li:hover, .sidebar ul.nav.nav-sidebar li.opened
        {
            background: rgba(93, 195, 231, 0.3);
            //color: white;
            border-left: 3px solid #20a8d8;
        }

        .sidebar ul.nav.nav-sidebar li ul li a
        {
            line-height: 20px;
        }

        .sidebar ul.nav.nav-sidebar li ul
        {
            background: rgba(93, 195, 231, 0.0);
        }


            .sidebar ul.nav.nav-sidebar li a .sx-icon
            {
                width: 33px;
                position: relative;
                float: left;
            }

                .sidebar ul.nav.nav-sidebar li a .sx-icon img
                {
                    width: 20px;
                    margin-left: 7px;
                }











/*************** SCROLLBAR MAC OS X ***************/

.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-macosx > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-macosx > .scroll-element .scroll-element_track { display: none; }
.scrollbar-macosx > .scroll-element .scroll-bar {
    background-color: #6C6E71;
    display: block;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.scrollbar-macosx > .scroll-element.scroll-x {
    bottom: 0px;
    height: 0px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}

.scrollbar-macosx > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { height: 7px; min-width: 10px; top: -9px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { left: -9px; min-height: 10px; width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { left: 2px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { top: 2px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }





