#skeeks-cms-toolbar {
    /*display: none; SkeekS CMS > 2.4.0.2*/
    padding: 0;
    font: 11px Verdana, Arial, sans-serif;
    text-align: left;
    min-height: 40px;
    color: black;
    overflow: auto;
    background: rgb(246,246,246);
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
    background: rgb(246,246,246) url(data:image/svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAYAAAA/tpB3AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94BBQwuINct3v0AAAAjSURBVAjXY3j79u1/JgYGBgYkgpGRkYEYMSpKUGLK+/fvGQAaDAb6F86IsAAAAABJRU5ErkJggg==);
    /* generated using "cat assets/bg.png | base64" */
}

.skeeks-cms-toolbar-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 1000000;
    border-bottom: 1px solid #ccc;
    background: white !important;
    font-size: 12px !important;
}

.skeeks-cms-toolbar-top input[type="checkbox"]{
    display: inline;
}

.skeeks-cms-toolbar-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 1000000;
    border-top: 1px solid #ccc;
}

.skeeks-cms-toolbar-block {
    float: left;
    margin: 0;
    border-right: 1px solid #e4e4e4;
    padding: 4px 8px;
    line-height: 32px;
    white-space: nowrap;
}

.skeeks-cms-toolbar-block a {
    text-decoration: none;
    color: black;
}

.skeeks-cms-toolbar-block span {
}

.skeeks-cms-toolbar-block img {
    vertical-align: middle;
    display: inherit;
}

#skeeks-cms-toolbar .label {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: normal;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

#skeeks-cms-toolbar .label {
    -webkit-border-radius: 3px  !important;;
    -moz-border-radius: 3px  !important;;
    border-radius: 3px  !important;;
}

#skeeks-cms-toolbar .label:empty {
    display: none;
}

#skeeks-cms-toolbar a.label:hover,
#skeeks-cms-toolbar a.label:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#skeeks-cms-toolbar .label-important {
    background-color: #b94a48;
}

#skeeks-cms-toolbar .label-important[href] {
    background-color: #953b39;
}

#skeeks-cms-toolbar .label-warning,
#skeeks-cms-toolbar .badge-warning {
    background-color: #f89406;
}

#skeeks-cms-toolbar .label-warning[href] {
    background-color: #c67605;
}

#skeeks-cms-toolbar .label-success {
    background-color: #468847;
}

#skeeks-cms-toolbar .label-success[href] {
    background-color: #356635;
}

#skeeks-cms-toolbar .label-info {
    background-color: #3a87ad;
}

#skeeks-cms-toolbar .label-info[href] {
    background-color: #2d6987;
}

#skeeks-cms-toolbar .label-inverse,
#skeeks-cms-toolbar .badge-inverse {
    background-color: #333333;
}

#skeeks-cms-toolbar .label-inverse[href],
#skeeks-cms-toolbar .badge-inverse[href] {
    background-color: #1a1a1a;
}

.skeeks-cms-toolbar-toggler {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 4px;
    width: 15px;
    height: 30px;
    font-size: 25px;
    font-weight: 100;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
    background: #666666;
    -webkit-border-radius: 12px !important;;
    -moz-border-radius: 12px !important;;
    border-radius: 12px !important;;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.skeeks-cms-toolbar-toggler:hover,
.skeeks-cms-toolbar-toggler:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#skeeks-cms-toolbar-min {
    /*display: none; SkeekS CMS > 2.4.0.2*/
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1000000;
    font: 11px Verdana, Arial, sans-serif;
    text-align: left;
    width: 63px;
    height: 38px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-bottom-left-radius: 6px !important;
    -moz-border-bottom-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    background: rgb(237,237,237);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
}

#skeeks-cms-toolbar-logo {
    position: fixed;
    right: 31px;
    top: 4px;
}


#skeeks-cms-toolbar .sx-profile a img
{
    height: 30px;
    max-width: 30px;
    margin-left: 5px;
    border: 1px solid #c0c0c0;
}

#skeeks-cms-toolbar .sx-profile a:hover img
{
    border: 1px solid #20a8d8;
}



/*
* Обрамление редактируемой области
*/
.skeeks-cms-toolbar-edit-view-block
{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      outline: none;
}
/*
* Пустой блок, отметка фоном
*/
.skeeks-cms-toolbar-edit-view-block-empty
{
    background: scroll transparent url(icons/empty-block.png) no-repeat !important
}

/**
* Кнопки при редактировании
*/
.sx-edit-view-block-controlls
{
    position: fixed !important;
    height: 23px !important;
    display: none;
    padding: 4px 4px 10px !important;
    color: white !important;
    background: black !important;
    overflow: hidden !important;
    z-index: 9999 !important;
    font-size: 12px !important;
}
.sx-edit-view-block-controlls a
{
    font-size: 12px !important;
    color: white !important;
    z-index: 9999 !important;
}