/**
* Overlap some basic styles
*/
html
{
    min-height: 100%;
    height: 100%;
    font-size: 12px;
}
body
{
    background: url(../images/bg/22.png);
    font-size: 12px;
}

.sx-header-logo .navbar-brand
{
    padding: 0px;
    padding-left: 10px;
    padding-top: 4px;
}

iframe {
    border: 0px;
}

.table thead > tr > th
{
    padding: 5px;
    max-height: 20px;
}



.breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    position: relative;
    /* margin: -30px -15px 0 -15px; */
    background: 0;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 16px;
}

    .breadcrumb>li+li:before
    {
        color: #396298;
        text-shadow: 0 1px #FFFFFF;
    }

    .breadcrumb li a
    {
        color: #396298;
        text-shadow: 0 1px #FFFFFF;
    }

    .breadcrumb>.active
    {
        color: #777;
    }


.main {
    padding: 50px 0px 40px 270px;
    background: none;
}

.main:after
{
    clear: both;
    display: table;
    content: " ";
}
.main:before
{
    content: " ";
    display: table;
}

    .main .sx-main-body
    {
        margin-top: 10px;
        float: left;
        width: 100%;
    }

@media (max-width: 767px)
{
    .main
    {
        padding: 50px 0px 0 24px!important;
    }
}


body.sidebar-hidden .main
{
    padding: 50px 0px 0px 26px;
}


.sx-main-head
{
    padding: 10px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.46);
}


.navbar-brand:hover i
{
    color: #a6ed18;
}

.sx-navbar
{
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.17);
    z-index: 9; /* Если больше то будет перекрываться full scrin CodeMirror*/
}

.navbar .navbar-nav.navbar-right:last-child
{
    padding-left: 0px;
    border-left: 1px solid #d1d4d7;
}

.navbar .navbar-nav.navbar-right:last-child
{
    margin-right: 0px;
}


footer.sx-admin-footer
{
    width: 100%;
    background: white;
    border-top: 1px solid #d1d4d7;
    /*color: #d1d4d7;*/
    color: #474747;
    height: 40px;

    padding: 0 20px 0px 20px;
    margin: 0;
    position: fixed;
    bottom: 0;
    z-index: 100;
    font-size: 10px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.17), 1px -5px 9px rgba(0, 0, 0, 0.17);
}
footer.sx-admin-footer a
{
    color: #474747;
}

body.sidebar-hidden footer.sx-admin-footer
{
    padding: 0 20px 0px 20px;
}

@media(max-width:767px) {
    .empty .main {
        overflow: hidden;
        padding: 0px 0px 0 0px !important
    }
}

@media (max-width: 991px)
{
    .main
    {
        z-index: 0;
    }

    .sidebar
    {
        padding-top: 50px;
    }
}


.sx-panel-full
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    overflow: auto;
}


    body.empty
    {
        min-height: 100%;
        background: white;
    }

    body.empty .sx-panel-content
    {
        min-height: 100%;
        border: 0px;
    }

    body.empty .panel-heading
    {
        display: none;
    }

    body.empty .sx-sidebar
    {
        display: none;
    }

    body.empty .sx-empty-hide
    {
        display: none;
    }

    body.empty .navbar
    {
        display: none;
    }

    body.empty .sx-admin-footer
    {
        display: none;
    }

    body.empty .main
    {
        margin: 0;
        padding: 0;
    }

        body.empty .main>.sx-main-body
        {
            margin: 0;
            padding: 0;
        }
            body.empty .main>.sx-main-body>.sx-panel
            {
                margin: 0;
            }





.navbar .navbar-nav li .dropdown-menu, .dropdown-menu
{
    box-shadow: 1px 7px 16px rgba(0, 0, 0, 0.42);
}





div#jGrowl
{
    top: 130px;
}


.sx-show-onWindowReady
{
    display: none;
}


.navbar .navbar-nav li .sx-dropdown-menu-left:before
{
    left: 12px;
    right: auto;
}

.navbar .navbar-nav li .sx-dropdown-menu-left:after
{
    left: 12px;
    right: auto;
}


.sx-main-menu-toggle-opened
{
    position: fixed;
    top: 50%;
    left: 258px;
    z-index: 10000;
    display: block;
}

.sx-main-menu-toggle-closed
{
    display: none;
    position: fixed;
    top: 50%;
    left: 12px;
}


.sx-hide {
    display: none;
}




.panel-body .tab-content
{
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-right: 1px solid #ddd;
}


.panel .panel-heading h2, .panel .panel-heading h3
{
    font-weight: bold;
    text-transform: none;
}


/**
* new styles
**/

.sx-border
{
    border: 1px solid rgba(32, 168, 216, 0.23);
}

.sx-m-10
{
    margin: 10px;
}

.sx-mt-10
{
    margin-top: 10px;
}
.sx-mb-10
{
    margin-bottom: 10px;
}

.sx-p-10
{
    padding: 10px;
}




/**
* sx-top-nav-menu
**/
.navbar .navbar-nav.navbar-right:last-child
{
    border: none;
}
    .navbar .sx-left-border
    {
        border-left: 1px solid #d1d4d7;
    }





.datetimepicker th.switch
{
    display: table-cell;
}





.sx-box
{
    border: 1px solid rgba(32, 168, 216, 0.23);
}

    .sx-box .sx-box-head
    {
        border-bottom: 1px solid rgba(32, 168, 216, 0.23);
    }

        .sx-box .sx-box-head h2
        {
            padding: 0px;
            margin: 0px;
        }

    .sx-box .sx-box-body
    {}

.sx-p-10
{
    padding: 10px;
}
.sx-pt-10
{
    padding-top: 10px;
}
.sx-pl-10
{
    padding-left: 10px;
}
.sx-pr-10
{
    padding-right: 10px;
}
.sx-pb-10
{
    padding-bottom: 10px;
}

.sx-bg-primary
{
    background: #f5f9f9;
}



/**
* Подстветка картинок в ссылках
*/
a.sx-img-link-hover img
{
    border: 2px solid silver;
}

    a.sx-img-link-hover img:hover
    {
        border: 2px solid #5dc3e7;
        box-shadow: 1px 1px 14px rgba(32, 168, 216, 0.69);
    }

a.sx-border-1px img
{
    border-width: 1px;
}

    a.sx-width-1px img:hover
    {
        border-width: 1px;
    }


/* Global styles */
.sx-bg-glass
{
    background: rgba(208, 208, 208, 0.32);
}

.sx-bg-glass-hover:hover
{
    background: rgba(208, 208, 208, 0.5);
}