/**
* Доработка слайдбара
*/
.sidebar .sidebar-footer {
    height: 43px;
}

.sx-sidebar
{
    padding-left: 10px;
    z-index: 1;
    width: 270px;
}

    .sx-sidebar .sidebar-collapse
    {
        margin-bottom: 70px;
    }

    .sx-sidebar a
    {
        color: black;
    }

    .sx-sidebar .inner-wrapper
    {
        overflow-y: auto;
        width: 260px;
        height: 100%;
    }




    .sx-sidebar .sidebar-menu
    {
        width: 240px;
        border: 1px solid #20a8d8;
        margin-bottom: 0px;
        margin-top: 10px;
        overflow: hidden;
        background: white;
        box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.42);
    }

        .sx-sidebar .sidebar-menu:hover
        {
            box-shadow: 1px 5px 9px rgba(32, 168, 216, 0.69)
        }

        .sx-sidebar .sidebar-menu .sx-head
        {
            cursor: pointer;
            background: #5dc3e7;
            color: white;
            /*text-transform: uppercase;*/
            font-weight: bold;
            padding: 5px 0px;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.41);
            font-size: 16px;
        }

            .sx-sidebar .sidebar-menu .sx-head .icon
            {
                float:  left;
                padding-left: 10px;
                /* font-size: 17px; */
                cursor: pointer;
                padding-top: 3px;
                padding-right: 5px;
            }
            .sx-sidebar .sidebar-menu .sx-head .sx-icon
            {
                padding-left: 10px;
                padding-right: 10px;
            }

                .sx-sidebar .sidebar-menu .sx-head .sx-icon img
                {
                    max-width: 30px;
                    max-height: 30px;
                    min-height: 30px;
                    min-width: 30px;
                }


                .sx-sidebar .sidebar-menu>ul.nav.nav-sidebar
                {
                    display: none;
                }

                .sx-sidebar .sidebar-menu.sx-opened>ul.nav.nav-sidebar
                {
                    display: block;
                }

        .sidebar ul.nav.nav-sidebar li a i
        {
            color: black;
        }


        .sidebar .nav>li>a
        {
            padding: 5px 0px;
        }

        .sidebar ul.nav.nav-sidebar li a i
        {
            margin: 0px;
        }

        .sidebar ul.nav.nav-sidebar li a
        {
            text-transform: none;
        }

        .sidebar ul.nav.nav-sidebar li.active, .sidebar ul.nav.nav-sidebar li:hover, .sidebar ul.nav.nav-sidebar li.opened
        {
            background: rgba(93, 195, 231, 0.3);
            color: black;
            border-left: 3px solid #20a8d8;
        }

        .sidebar ul.nav.nav-sidebar li ul li a
        {
            line-height: 20px;
        }

        .sidebar ul.nav.nav-sidebar li ul
        {
            background: rgba(93, 195, 231, 0.0);
        }

        .sidebar ul.nav.nav-sidebar li.sx-start-opened>ul
        {
            /** Быстрое открытие меню **/
            display: block;
        }

            .sidebar ul.nav.nav-sidebar li a .sx-icon
            {
                width: 35px;
                position: relative;
                float: left;
            }

                .sidebar ul.nav.nav-sidebar li a .sx-icon img
                {
                    width: 20px;
                    margin-left: 7px;
                    margin-top: -3px;
                }

                .sidebar ul.nav.nav-sidebar li a .txt
                {
                    /*font-size: 11px;*/
                    /* SkeekS CMS 2.3.5 */
                    /*font-size: 12px;*/
                    /* SkeekS CMS 2.4.8 */
                    font-size: 13px;
                }

    .sidebar ul.nav.nav-sidebar li a.active,
    .sidebar ul.nav.nav-sidebar li a:hover,
    .sidebar ul.nav.nav-sidebar li a:focus {
        background: transparent;
        color: black
    }

/*************** SideBar hidden ***************/

    body.sidebar-hidden .sx-main-menu-toggle-closed
    {
        display: block;
    }

    body.sidebar-hidden .sx-main-menu-toggle-opened
    {
        display: none;
    }

    body.empty.sidebar-hidden .sx-sidebar
    {
        display: none;
    }

    body.sidebar-hidden .sx-sidebar
    {
        display: block;
        width: 25px;
    }

    body.sidebar-hidden .sx-sidebar .inner-wrapper
    {
        display: none;
    }


/*************** SCROLLBAR MAC OS X ***************/

.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-macosx > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-macosx > .scroll-element .scroll-element_track { display: none; }
.scrollbar-macosx > .scroll-element .scroll-bar {
    background-color: #6C6E71;
    display: block;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.scrollbar-macosx > .scroll-element.scroll-x {
    bottom: 0px;
    height: 0px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}

.scrollbar-macosx > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { height: 7px; min-width: 10px; top: -9px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { left: -9px; min-height: 10px; width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { left: 2px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { top: 2px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }
