.navbar.op-05:hover, .sx-admin-footer.op-05:hover
{
    opacity: 1;
    transition-duration: 1s;
}

.navbar, .sx-admin-footer {
    display: none;
}
.navbar.op-05, .sx-admin-footer.op-05 {
    opacity: 0.5;
}

.sx-hidden
{
    display: none;
}

form.sx-form-admin
{
    border: none;
    padding: 0px;
}

.main {
    padding: 0px;
}


#canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.sx-act
{
    display: none;
}

.sx-act-controll
{
    border-bottom: 1px dashed;
    text-decoration: none;
}

.sx-act-controll:hover
{
    border-bottom: 1px dashed;
    text-decoration: none;
}


.sx-windowReady-fadeIn
{
    display: none;
}


    .sx-content-block .sx-panel
    {
        margin-top: 20%;
        border-radius: 6px;
        border-width: 3px;
        border-color: rgba(32, 168, 216, 0.25);
        box-shadow: 0 11px 51px 9px rgba(0,0,0,.55);
        padding: 10px;
    }

    .sx-content-block form input
    {
        height: 45px;
        font-size: 25px;
        border-radius: 6px;
        border-width: 2px;
    }
    .sx-content-block form button
    {
        font-size: 20px;
    }
    .sx-content-block form label
    {
        font-size: 16px;
    }

    .sx-content-block form .sx-submit-group
    {
        text-align: center;
    }