body {
    color: #CCCCCC;
    background-color: #001F7C;
    font-family: Terminal, monospace;
}
code {
    color: #6CF7FC;
}
.diff-header {
    color: aqua;
}
.diff-sub-header {
    color: #1f7184;
}