body {
    color: #B8B8B8;
    background-color: #424242;
    font-family: Monaco, Courier, monospace;
}
code {
    color: #FFFFFF;
}
form, input {
    color: #FFFFFF;
}
.diff-header {
    color: #B8B8B8;
}
.diff-sub-header {
    color: #cbcbcb;
}